/*css stylesheet for module 2 solution (coursera w/prof. yaakov)*/
/*global styling*/
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

world-title {
    margin-bottom: 15px;
    text-align: center;
    color: rgb(255, 69, 50);
    font-size: 50px;
}

h1, h2, h3, h4, h5 {
margin-bottom: 15px;
text-align: center;
color: rgb(255, 69, 50);
font-size: 50px;
}

section {
    position: relative;
    padding: 15px;
    width: 90%;
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: rgb(128, 128, 128);
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.sub1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(255, 182, 193);

}

.sub2 {
    float: right;
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(255, 0, 0);

}

.sub3 {
    color: rgb(0, 0, 0);
    float: right;
    width: 100px;
    padding: 5px;
     margin: -3px -3px 0px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(223, 212, 121);

}

.content {
    padding: 5px;
    border: none;
    background-color: rgb(128, 128, 128);
    font-family: Unica One, Helvetica, sans-serif, monotone, serif, cursive;
    color: rgb(0, 0, 0);
    margin: 3px ;
    height: 150px;
    overflow: auto;
}

.row {
    width: 90%;
}

/*desktop version*/
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*mobile version*/
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}
